{
  "parser": "babel-eslint",
  "extends": [
    "vtex",
    "vtex-react",
    "plugin:flowtype/recommended",
    "plugin:import/recommended"
  ],
  "plugins": [
    "flowtype",
    "import"
  ],
  "rules": {
    "no-duplicate-imports": 0,
    "import/no-unresolved": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "__DEV__": true
  }
}
