src/
test/
.idea/
.temp/
.vscode/
.github/
.coverage/
.nyc_output/
.tags
.babelrc
.tags.lock
.tags.temp
.travis.yml
.tslint.json
.editorconfig
lib/*.test.js
yarn-error.log
lib/**/*.test.js
tslint.json
tsconfig.json
coverage/
scripts/
yarn.lock
